%section.register.container
  .row
    .col-sm-8.col-sm-offset-1
      = bootstrap_form_for @user, style: :horizontal, left: "col-sm-2", right: "col-sm-8" do |f| 
        = f.form_group do
          %header
            %h1 Register
        %fieldset.form-group                 
          = f.email_field :email, label: "Email"
        %fieldset.form-group 
          = f.password_field :password  
        %fieldset.form-group         
          = f.text_field :full_name, label: "Full Name"
          =f.form_group do
            = f.submit "Sign up"           
        
          
            